@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

@import "tailwindcss";

:root {
  --background: #1f002b;
  --foreground: #ffffff;
  --grey-200: #c4c8cc;
  --grey-40: #f2f3f5;

  --pink-main: #e4229c;
  --pink-dimmed: #36173d;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey-200: var(--grey-200);
  --color-grey-40: var(--grey-40);
  --color-pink-main: var(--pink-main);
  --color-pink-dimmed: var(--pink-dimmed);

  --font-niconne: "Niconne", cursive;
  --font-sans: "Nunito Sans", sans-serif;
}

/* 3. Global Styles */
@layer base {
  body {
    font-family: var(--font-sans);
    background: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .link {
    @apply text-pink-main underline transition-colors duration-200;

    &:hover {
      @apply text-pink-main/80;
    }

    &:active {
      @apply opacity-70;
    }
  }
}
